<!DOCTYPE html>
<html>
<head>
    <title>ImageGist</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!-- <link rel='stylesheet' href='/stylesheets/style-white.css'/> -->

</head>
<body class="ordermemo">
<script type="text/javascript" src="/lib/d3.min.js"></script>
<script type="text/javascript" src="/lib/underscore-min.js"></script>
<script type="text/javascript" src="/lib/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/lib/country-state-select.js"></script>
<script type="text/javascript" src="/lib/d3-tip.js"></script>

<script type="text/javascript" src="/javascripts/gameControl.js"></script>
<script type="text/javascript" src="/javascripts/internal.js"></script>
<script type="text/javascript" src="/javascripts/imageSequence.js"></script>
<script type="text/javascript" src="/javascripts/comm.js"></script>
<script type="text/javascript" src="/javascripts/userDB.js"></script>
<script type="text/javascript" src="/javascripts/imageDB.js"></script>
<script type="text/javascript" src="/javascripts/imageShow.js"></script>
<script type="text/javascript" src="/javascripts/dataAnalysis.js"></script>
<script type="text/javascript" src="/javascripts/plotSummary.js"></script>

<div class="main-box">

    <div class="header-box">

        <!-- start interface -->
        <p class="header-instructions"></p>
        
    </div>

    <div class="content-box">

        <!-- loading interface -->

        <div class="loading">loading...

        </div>

        <!-- workID information collection -->

        <div class="workID-box">

            <p class="game-name">Image Gist Game</p>
            <p class="content-instructions">Welcome to our image game, please enter your Amazon Mechanical Turk (AMT) WorkerID below.</p>
            <table class="workIDTable">
                <tr style="height: 2rem">
                    <td style="width: 50%;text-align: right;">
                        <label id="workIDLabel" style="font-size: 0.9rem">Your AMT WorkerID: &nbsp;</label>
                    </td>
                    <td style="width: 50%">
                        <input type="text" name="workIDtext" style="height: 1.3rem; width: 10rem; font-size: 0.9rem" class="workID-input">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button class="submitworkID-button">Submit</button>
                    </td>
                </tr>
            </table>

            <p class="hint-instruction"> <!-- <span class="boldspan">Hint 1:</span> We recommend that you use <span class="boldspan">Mozilla Firefox</span> or <span class="boldspan">Google Chrome</span> for accessing our game. These are FREE and modern web-browsers which will improve your game experience.<br> -->
            <span class="boldspan">Hint: </span> You can find you WorkerID on your Dashboard or in the upper left corner of the new Worker
                    website.</p>



            <div class="workIDhint-box">             
                <img id="workIDHintImg" src="/images/workIDhint.png" style="width: 18rem; height: 6rem; border: 1px solid black ">
                <p style="color: red;display: none;" id="warningText">Please fill in the WorkerID!</p>
            </div>
        
        </div>


        <!-- Informed consent form -->
        <div class="consent-box">

            <p class="consent-instructions">Please read the following Agreement carefully. You must agree to the terms of this Agreement to
access our memory game.</p>

            <div class="consent-form-box">
                <p class="c2"><span class="c5 c4">Investigate Project Participation Agreement </span></p><p class="c2"><span class="c5 c4">The Ohio State University</span></p><p class="c2"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">Welcome to our online investigate project. This Investigate Project Participation Agreement (the &quot;Agreement&quot;) is a binding agreement between you and The Ohio State University regarding your access to and use of the Site. The Ohio State University and its affiliates (&quot;we,&quot; &quot;us,&quot; or &quot;our&quot;) provide the Site to you subject to this Agreement. This Agreement consists of the terms and conditions below:</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c9">By accessing (including by automated means) or registering for the Site, you accept this Agreement and represent that you are </span><span class="c4">at least 18 years old </span><span class="c0">and have authority to bind yourself or the company you represent to this Agreement. Please read this Agreement carefully.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c4">Title of Project: </span><span class="c4 c10">Design and evaluation of visualization methods for scalar, vector, and tensor fields and graphs</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c4">Principle investigator: </span><span class="c6">Jian Chen, The Ohio State University, (540)818-3618</span><span class="c0">&nbsp;</span></p><p class="c1 c12"><span class="c4 c5"></span></p><p class="c1"><span class="c4">I. INTRODUCTION/PURPOSE</span><span class="c0">:</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">I am being asked to participate in a research study. The purpose of this study is to compare, understand, or enhance interactive visualization methods to improve human ability to use interactive user interface for knowledge discovery. I am being asked to volunteer because I may help understand how we see and interact with computers. My involvement in this study will begin when I agree to participate and will continue until the end of the study in about an hour.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c5 c4">II. PROCEDURES:</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">As a participant in this study, I will be asked to perform a set of visualization tasks using several interfaces and visualization methods on a computer screen. These tasks consist of viewing several interactive display methods for human perception and cognition analysis.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">I will be asked to fill out a pre-questionnaire to check if I have a normal visual ability, I will read a set of instructions related to this experiment, I will be asked take a short practice test in order to ensure I understand the instructions before taking real task, I understand if I failed in practice test for more than three times, I will be paid a slight financial compensation for my time and be blocked from the system. My participation in this study will last for about 1 hour in a single visit. Audio or video recording or detailed note taking may occur.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">My role to the tests is that of evaluator of the software. I will not be evaluated in any way; but be helping evaluate the visualization system. All information that obtained from me will remain anonymous. The time it takes me to do each task and other aspects of my interaction with the system will be measured. I can ask questions during and after the evaluation, in order to clarify my understanding of the experiment.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c5 c4">III. RISKS AND BENEFITS</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">My participation in this study does not involve any significant risks and I have been informed that my participation in this research may or may not benefit me personally. I may get financial rewards for participating this study. I may also get to learn the state-of-the-art visualization techniques.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">I have been informed that participation in this study may involve no foreseeable risks, beyond those present in routine daily life. All light and sound intensities are well within normal range. The physical components of these tasks are not stressful, and include only head and body turning and pointing. The only foreseeable physical risks are very slight eyestrain caused by the use of a computer monitor. There are no known mental risks.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c5 c4">IV. CONFIDENTIALITY:</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">Any information learned and collected from this study in which I might be identified will remain confidential and will be disclosed ONLY if I give permission. The investigator (s) will attempt to keep my personal information confidential. To help protect my confidentiality, other than the consent forms, my mturk workerID will not appear in any other information provided for this study. My responses to various questionnaires will be matched using a participant identification number that has been assigned to me for the duration of this study. The computer saved the performance files will be password-protected. At the conclusion of data collection for this study, the list linking participant workerID with participant identification numbers will be destroyed.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">Data gathered from the present study will be stored in a secure location in locked filing cabinets for six years, at which time it will be destroyed. Findings will be presented in aggregate form with no identifying information to ensure confidentiality.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">Only the investigator and members of the research team will have access to these records. If information learned from this study is published, I will not be identified by name. By signing this form, however, I allow the research study investigator to make my records available to the Ohio State University Institutional Review Board (IRB) and regulatory agencies as required to do so by law.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">Consenting to participate in this research also indicates my agreement that all information collected from me individually may be used by current and future researchers in such a fashion that my personal identity will be protected. Such use will include sharing anonymous information with other researchers for checking the accuracy of study findings and for future approved research that has the potential for improving human knowledge.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">Additionally, (1) my workerID will not be included on the surveys and other collected data; (2) a code will be placed on the survey and other collected data; (3) through the use of an identification key, the researcher will be able to link my survey to my identity workerID; and (4) only the researcher will have access to the identification key.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c5 c4">V. SPONSOR OF THE RESEARCH:</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c3">The National Science Foundation and OSU are sponsoring this research study.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c5 c4">VI. COMPENSATION/COSTS:</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">My participation in this study will involve no cost to me. I will be paid for my participation at $8 / hour but no more than $16 total.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c5 c4">VII. EXPLANATION OF TREATMENT AND COMPENSATION FOR INJURY:</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">If I suffer from an injury as a direct result of this research, medical care may be obtained by me in the same manner as I would ordinarily obtain medical treatment. No provision has been made for financial payments or other forms of compensation (such as lost wages, medical cost reimbursement, lost time or discomfort) with respect to such injuries.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c5 c4">VIII. CONTACTS AND QUESTIONS:</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">The principal investigator(s), Jian Chen, has offered to and has answered any and all questions regarding my participation in this research study. If I have any further questions, I can contact Jian Chen at (540)818-3618 or chen.8028@osu.edu.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">If I have any questions about my rights as a participant in this research study, contact the Office for the Responsible Research Practice, The Ohio State University, (614) 688-8557.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c5 c4">IX. VOLUNTARY PARTICIPATION</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p class="c1"><span class="c0">I have been informed that my participation in this research study is voluntary and that I am free to withdraw or discontinue participation at any time. I have been informed that data collected for this study will be retained by the investigator and analyzed even if I choose to withdraw from the research. If I do choose to withdraw, the investigator and I have discussed my withdrawal and the investigator may use my information up to the time I decide to withdraw.</span></p><p class="c1"><span class="c0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
            </div>

            <button id = "consentAgree-button">Accept</button> 
            <button id = "consentDecline-button">Decline</button> 

            
        </div>

        <!-- demographic information collection for new worker -->
        <div class="demo-box">

            <div class="demo-p-box">
                <p class="demo-instructions">Some journals request additional data from authors to aid in their diversity initiatives. Thus, we would like you to provide the following demographic information.
                <br> we promise that your demographic information will keep confidential. 
                <br> <span class="boldspan">Note: </span> The fields <span class="boldspan">WITHOUT</span> <span class="redspan">*</span> are not mandatory. If you do <span class="boldspan">NOT</span> want this information to be collected online. You can click the <span class="boldspan">"SKIP"</span> button to enter the game without providing that information.</p>
                
            </div>

          
          
          <div class="table-box">
              <table class="demoTable">               
                <tr class="demoTR" >
                    <td></td>
                    <td>
                        <span>Age: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <input type="text" id="age-text" style=" height: 1.3rem; width: 10rem; font-size: 0.9rem">
                    </td>
                    <td></td>
                </tr>
                <tr class="demoTR">
                    <td></td>
                    <td style="text-align: center;">
                        <span>Country: &nbsp;&nbsp;</span> 
                        <select id="country2" name="country2" style="height: 1.5rem;-webkit-appearance: menulist-button; width: 10rem;font-size: 0.9rem">USA</select>
                    </td>
                    <td></td>
                </tr>
                <tr class="demoTR">       
                    <td></td>
                    <td>
                        <span class="redspan">*</span><span>Gender: &nbsp;&nbsp;</span>
                        <select id="genderSelect" style="height: 1.5rem; -webkit-appearance: menulist-button; width: 10rem;font-size: 0.9rem;" >
                            <option value="">Select Gender</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr class="demoTR">
                    <td colspan="3" style="text-align: center;">
                        <span class="redspan">*</span><span> Do you have experience with visualization? How do you rate your level of visualization experience?</span>
                    </td>              
                </tr>
                <tr class="demoTR">
                    <td style="text-align: right; width: 33%">
                        <input type="radio" name="visualRate" value="3">Advanced
                    </td>
                    <td style="text-align: center;width: 33%">
                        <input type="radio" name="visualRate" value="2">Intermediate
                    </td>
                    <td style="text-align: left;width: 33%">
                        <input type="radio" name="visualRate" value="1">Novice
                    </td>
                </tr>
              </table>
          </div>
          
          <p id="demowarning" >
              <span class="redspan">Please fill in all fields with * !</span>
          </p>

          <button id="demoSubmit">Submit</button>
          <button id="demoSkip">Skip</button>

        </div>

        <!-- game interface -->

        <div class="game-box">

            <p class="game-instructions">Dear participant, thanks for taking part in our online image game. Please read the following information carefully and click <span class="boldspan">“Practice”</span> button to begin our practice game.</p>

            <p class="task-instructions"> Press the 'Space' bar any time you see an image has "X" different colors. </p>

            <button class="practice-button" id="start-practice">Start Practice</button>

            <!-- <button class="practice-button" id="skip-practice">Skip Practice</button> -->

            <p class="instructions">By making judgments about these images, you are participating in a study being
                performed by the scientists in Department of Computer Science and Electrical Enginnering of University of Maryland, Baltimore County and the Computer Science and Engineering Department of the Ohio State
                University. If you have questions about this research, please contact Dr. Jian Chen at chen.8028@osu.edu.
                Your participation in this research is voluntary. You may quit the game at any time without any adverse consequence. Your anonymity is ensured, the researchers who have requested your participation will not receive any personal information about you.</p>

            <p class="practice-instructions1">Dear participant, welcome to our practice test!
            In this section, a stream of images (28 images totally) will be presented on the screen for <span class="boldspan">5 second</span>  each. <br><br>

            Press the <span class="boldspan">"space"</span> bar anytime you see an image has the <span class="boldspan">X</span> different colors or textures or outside cylinders. X will be given in each image. <br><br>

            You may exit the test at any time. <br>
            <span class="boldspan">Note:</span> When you log back in, you need to retake the test. <br><br>

            You must pass the test in order to continue the real game, you will have up to <span class="boldspan">three</span> chances to take the test. <br><br>

            Whenever you press the <span class="boldspan">"space"</span> bar, you will get <span class="boldspan">feedback</span>: 

            </p>


            <div class="encode-box">
                <img src="" class="encodeImage1">
                <br>
                <br>
                <img src="" class="encodeImage2">
            </div>

            <p class="practice-instructions2">Dear participant, welcome to our practice test!
                In this section, a stream of images (28 images totally) will be presented on the screen for <span class="boldspan">5 second</span>  each. <br><br>

                Press the <span class="boldspan">"space"</span> bar anytime you see an image has the <span class="boldspan">X</span> different colors or textures or outside cylinders. X will be given in each image. <br><br>

                You may exit the test at any time. <br>
                <span class="boldspan">Note:</span> When you log back in, you need to retake the test. <br><br>

                You must pass the test in order to continue the real game, you will have up to <span class="boldspan">three</span> chances to take the test. <br><br>

                Whenever you press the <span class="boldspan">"space"</span> bar, you will get <span class="boldspan">feedback</span>:

            </p>

            <p class="realgame-instructions">Great job! Now you will start the real game <span class="boldspan" id="rightNowLevel2"></span>. The game will be just like the practice you just played. Except longer(<span class="boldspan">98</span> images for <span class="boldspan">1 second</span>  each.) and a bit more difficult. So, pay attention!<br><br>

            You will be paid <span class="boldspan">$0.8</span> in total, which lasts about <span class="boldspan">5</span> minutes. <br><br>

            Once you finish the game, you will find the reward code that can be used on Amazon Mechanical Turk.  <br>

            <span class="boldspan">Note: </span>
            If you opt out midway through this game, you will need to replay this game when you log in again.<br><br>

            Press the <span class="boldspan">"space"</span> bar any time you see an image has <span class="boldspan">X</span> different colors or textures or outside cylinders. X will be given in each image. <br><br>

            Whenever you press the <span class="boldspan">"space"</span> bar, you will get <span class="boldspan">feedback</span>: 

            </p>


            <div class="icon-box">
                <table class="icontable" style="margin:auto; width: 12rem">
                    <tr>
                        <td style="padding: 1rem;">
                            <img src="/images/correct.png" class="instru-correct-img">
                        </td>
                        <td>
                            <img src="/images/false.png" class="instru-false-img">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="boldspan">Correct</span>
                        </td>
                        <td>
                            <span class="boldspan">Incorrect</span>
                        </td>
                    </tr>
                </table>
            </div>




            <div class = "imageContainer">
                <img src="" class="visImage">
                <img src="" class="feedbackImage"> <!---/images/defult_feedback.png-->
            </div>

            <button id = "begingame-button">go!</button>

        </div>

        <!-- show summary information -->
        <div class="summary-box">

		<!--
            <p id="summary-level">Level
                <span id="summary-nowlevel"> 9 </span>
                out of 17 complete!
            </p>

            <p id="summary-rest-time">               
                <span id="summary-time">Rest time remaining: 4:59 </span> <br>
                <span id="summary-time-note">(game will automatically end if you do not press "start next level" before rest time is up)</span>
            </p>
		-->
            <p id="summary-code"><br>
                <span class="boldspan">Your reward code is: </span> 
                <span id=levelcode></span>
            </p>
		<!--
            <p id="summary-instruction">
                Hovering over each dot on the line chart shows your score associated with each level.
            </p>

		
            <div id="summary-chart">
                <div id="level-chart">
                    
                </div>
                <div id="reward-chart">
                    
                </div>
            </div>
            <button id = "nextlevel-button">Enter next level</button>   
            <button id = "summary-exit-button">Exit Game</button>
		-->

            <!-- <p style="font-weight: bold;" id="summary-p">Your score in this level is:</p>
            <br><br>
            <p id="hit-p">The number of visualization was recognized when shown for the second time:</p><br><br>
            <p id="miss-p">The number of visualization was not recognized (missed) when shown for the second time</p><br><br>
            <p id="fa-p">The number of visualization was mistakenly recognized when shown for the first time</p><br><br>
            <p id="cr-p">The number of visualization was shown for the first time and not mistakenly recognized</p> <br>
            <p id="levelcode-p"><br>
                <label>Your reward code is: </label>
                <label id=levelcode></label>
            </p>     -->          

        </div>

        <!-- warning information -->
        <div class="warning-box">
            <p id="warning-text">Sorry, according to our records, you have marked too many image that appear for the <span class="boldspan">first time</span> as duplicates. Please retake this level by clicking the <span class="boldspan">redo</span> button below.</p>
            <!-- <p id="warning-note"><span class="boldspan">Note:</span> This is the <span id=warning-times></span> time you've been warned by the system. If you were warned by the system three times, you would not be able to continue to participate in our game.</p> -->

            <button id = "redolevel-button">Redo the level</button>
        </div>

        <!-- practice information -->
        <div class="practice-box">
            <p id="practice-text">
                Sorry, you didn’t pass the previous test. Please retake the test by clicking the button below. <br>
                <span class="boldspan">Number of remaining attempts: </span>
                <span class="redspan", id="RemainPracticeTime">2</span> 
            </p>

            <button id = "repractice-button">Practice again</button>
            <button id = "goback-button">Go game</button>

        </div>

        <!-- block box -->
        <div class="block-box">

            <p class="block-instructions"></p>
            
        </div>


    </div>

    <div class="footer-box">

        <!-- progress bar -->
        <div class="progress-bar">
            <table style="width: 100%; height: 100%; position: relative;">
                <tr>
				<!--
                    <td style="width: 10%; text-align: center;" >
                        <span style="font-weight: bold" id="rightNowLevel">Level:1/17</span>
                    </td>
				-->
                    <td style="width: 10%; text-align: center;">
                        <label class="bar-label">Progress</label>
                    </td>
                    <td style="width: 80%">
                        <div class="bar"></div>
                        <div class="shader"></div>
                    </td>
                </tr>
            </table>
            
            
            
            
        </div>

        <!-- quit button -->

    </div>



</div>

</body>
</html>
