/**－－－－－－－－－－－－－public-start－－－－－－－－－－－－**/

body {
  font-size: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  font-weight: normal;
  background-color: #e6e6e6; background-size: 100% 100%; 
}

a {color: #00B7FF;}


table {font-size: 1rem;
	font-family: Arial;
}

/**－－－－－－－－－－－－－public-end－－－－－－－－－－－－**/

/**－－－－－－－－－－－－－ordermemo application page start－－－－－－－－－－－－**/

/* the contain of whole interface */
.ordermemo .main-box{}

/* box for header, greeting, and instructions */
.ordermemo .main-box .header-box{position: absolute; top:2%; left: 0%; width: 100%; height: 5%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto;}

.ordermemo .main-box .header-box .header-instructions{text-align: center; top: 0%; padding: 0.4rem; position: relative; font-weight: bold;}


/*------------------------------------------content-box-------------------------------------------*/

/* box for present pictures, control button, feedback img or other things in the game. */
.ordermemo .main-box .content-box{position: absolute; top:7%; left: 0%; width: 100%; height: 86%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto}

.ordermemo .main-box .content-box .boldspan{font-weight: bold;}
.ordermemo .main-box .content-box .redspan{color: red;font-weight: bold;}

/*------------------------------------------workerID-box-------------------------------------------*/

.ordermemo .main-box .content-box .workID-box{position: absolute; left: 20%; width: 60%; height: 100%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto;display: block;}

.ordermemo .main-box .content-box .workID-box .game-name{text-align:center; font-weight: bold; position: relative; top:10%; font-size: 2rem;}

.ordermemo .main-box .content-box .workID-box .content-instructions{text-align: center; top: 15%; padding: 0.4rem; position: relative;}

.ordermemo .main-box .content-box .workID-box .workIDTable{left: 25%; position: relative; width: 50%; height: 20%; top:20%;}

/*.ordermemo .main-box .content-box .workID-box .submitworkID-button{width: 60%;height: 1.6rem;border-radius: 0.05rem; font-size: 0.8rem}*/

.ordermemo .main-box .content-box .workID-box .submitworkID-button{height: 2rem; width: 10rem; border-radius: 0.2rem; 
	background:#2C3E50; margin: 0 auto; text-align: center; border: none;
	font-size: 0.9rem; color: #ffffff; cursor: pointer
}
.ordermemo .main-box .content-box .workID-box .submitworkID-button:hover{background-color: #34495E}

.ordermemo .main-box .content-box .workID-box .hint-instruction{position: relative; top: 20%; text-align: center; line-height: 1.5rem;}

.ordermemo .main-box .content-box .workID-box .workIDhint-box{position: relative;
	width: 80%; height: 40%;left: 10%; top:25%; text-align: center;}

/*--------------------------------------------consent-box------------------------------------------*/

.ordermemo .main-box .content-box .consent-box{position: absolute; left: 10%; top: 0%; width: 80%; height: 100%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto;display: none; text-align: left}

.ordermemo .main-box .content-box .consent-box .consent-instructions{text-align: center; top: 0%; padding: 0.4rem; position: relative;}

.ordermemo .main-box .content-box .consent-form-box{position: absolute; left: 5%; top: 5%; width: 90%; 
	height: 80%; background-color: #ffffff; padding: 1rem;
	margin-left: auto; margin-right: auto; text-align: center;border:1px solid #cccccc; overflow-y: scroll;}

#consentAgree-button{height: 2rem; width: 10rem; border-radius: 0.2rem; 
	background:#2C3E50; margin: 0 auto; text-align: center; border: none;
	font-size: 0.9rem; color: #ffffff; cursor: pointer; top:92%; right: 30%; position: absolute;}
#consentAgree-button:hover{background-color: #34495E}

#consentDecline-button{top:92%; left: 30%; position: absolute; height: 2rem; width: 10rem; border-radius: 0.2rem; 
	background:#2C3E50; margin: 0 auto; text-align: center; border: none;
	font-size: 0.9rem; color: #ffffff; cursor: pointer;}
#consentDecline-button:hover{background-color: #34495E}

/*-----------------------------------------demographic-box-------------------------------------*/
.ordermemo .main-box .content-box .demo-box{position: absolute; left: 10%; width: 80%; height: 100%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto;display: none; text-align: left;}

.ordermemo .main-box .content-box .demo-box .demo-p-box{position: relative; top: 15%; left: 10%; width:80%;}

.ordermemo .main-box .content-box .demo-box .demo-instructions{position: relative; top: 15%; line-height: 1.5rem}

.ordermemo .main-box .content-box .table-box{width: 100%; height: 80%; position: relative; top: 5%;}

.ordermemo .main-box .content-box .demo-box .demoTable{left: 10%; position: relative; width: 80%; height: 45%; top:20%;
border: 1px dashed #2c4e50; background:#ffffff;}

.ordermemo .main-box .content-box .demo-box .demoTR{height: 2rem; text-align: center;}

.ordermemo .main-box .content-box .demo-box .demoTD{}

#demoSubmit{height: 2rem; width: 10rem; border-radius: 0.2rem; 
	background:#2C3E50; margin: 0 auto; text-align: center; border: none;
	font-size: 0.9rem; color: #ffffff; cursor: pointer;top:92%; right: 30%; position: absolute;}
#demoSubmit:hover{background-color: #34495E}

#demoSkip{height: 2rem; width: 10rem; border-radius: 0.2rem; 
	background:#2C3E50; margin: 0 auto; text-align: center; border: none;
	font-size: 0.9rem; color: #ffffff; cursor: pointer;top:92%; left: 30%; position: absolute;}
#demoSkip:hover{background-color: #34495E}

#demowarning{position: absolute;width: 100%; text-align: center;top: 80%; display: none; color: red;}

/*--------------------------------------------game-box------------------------------------------*/
.ordermemo .main-box .content-box .game-box .task-instructions{position: relative; top: 20%; line-height: 1.5rem; display: none}

.ordermemo .main-box .content-box .game-box .game-instructions{position: relative; top: 20%; line-height: 1.5rem}

.ordermemo .main-box .content-box .game-box{position: absolute; left: 20%; width: 60%; height: 100%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto;display: none}

.ordermemo .main-box .content-box .game-box #start-practice{ height: 2.86rem; width: 10rem; top: 25%;
	border-radius: 0.2rem; position: relative; border: none;
	background:#2C3E50; margin: 0 auto; text-align: center; 
	font-size: 14px; color: #ffffff; cursor: pointer; }
.ordermemo .main-box .content-box .game-box #start-practice:hover{background-color: #34495E}

.ordermemo .main-box .content-box .game-box .instructions{text-align: left; position: relative;top: 30%; line-height: 1.5rem;}

.ordermemo .main-box .content-box .game-box .practice-instructions1{text-align: left; line-height: 1.5rem; top: 5%;
left: 0%;width: 100%; position: relative; display: none}

.ordermemo .main-box .content-box .game-box .practice-instructions2{text-align: left; line-height: 1.5rem; top: 10%;
	left: 0%;width: 100%; position: relative; display: none}

.ordermemo .main-box .content-box .game-box .realgame-instructions{text-align: left; line-height: 1.5rem; top: 10%; position: relative; display: none}

.ordermemo .main-box .content-box .game-box .icon-box{text-align: center; top: 10%; position: relative; display: none}

.ordermemo .main-box .content-box .game-box .encode-box{text-align: center; top: 5%; position: relative; display: none}

.ordermemo .main-box .content-box .game-box .encodeImage1{text-align: center; max-width: 10rem; max-height: 10rem}

.ordermemo .main-box .content-box .game-box .encodeImage2{text-align: center; max-width: 20rem; max-height: 20rem}

.ordermemo .main-box .content-box .game-box .instru-correct-img{width: 1rem; height: 1rem}
/*{width: 2rem; height: 2rem}*/

.ordermemo .main-box .content-box .game-box .instru-false-img{width: 0.8rem; height: 0.8rem}
/*{width: 1.6rem; height: 1.6rem}*/

#begingame-button{height: 2rem; width: 7rem; border-radius: 0.2rem; top:40%; position: relative;
	background:#2C3E50; margin: 0 auto;  text-align: center; border: none;
	font-size: 0.9rem; color: #ffffff; cursor: pointer; display: none}
#begingame-button:hover{background-color: #34495E}

.imageContainer{
	display: none;
	position: absolute;    
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.visImage{display: none;max-width:1600px; max-height:1000px}
		/*100%;max-height: 100%}*/
/*45rem;max-height: 45rem; }
*/

.feedbackImage{display: none; width: 1rem;height: 1rem; }

/*--------------------------------------------summary-box------------------------------------------*/

.ordermemo .main-box .content-box .summary-box{position: relative; line-height: 1.5rem; 
	left: 0%; top: 0%; width: 100%; height: 100%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto;display: none; text-align: left;}

#summary-level{position: relative; text-align: center; top: 5%; text-decoration: underline; font-weight: bold;}
#summary-rest-time{position: relative; text-align: center; top: 12%; line-height: 1.5rem;}
#summary-time{font-weight: bold; font-size: 2rem;}
#summary-time-note{font-size: 1.0rem; font-style: italic;}
#summary-code{position: relative;text-align: center;top:12%;}
#levelcode{font-weight: bold;color: #53ac58}
#summary-instruction{position: relative;text-align: center;top: 12%;}
#summary-chart{position: relative;top: 15%;border: 1px solid #2C3E50;background:#ffffff;
width: 800px; height: 320px; margin:auto;}
#level-chart{background: #ffffff;width: 350px;height: 300px;position: absolute;
left: 35px;top: 10px;}
#reward-chart{background: #ffffff;width: 350px;height: 300px;position: absolute;
left: 415px;top: 10px;}
.scoreline{fill: none;stroke: #359ad7;stroke-width:3px;}
.rewardline{fill: none;stroke: #2ECC71;stroke-width:3px;}
.rewardbackline{fill: none;stroke: #7F8C8D;stroke-width:2px;opacity: 0.5;stroke-dasharray:10}
.d3-tip {
  line-height: 1.5;
  font-family: "Arial";
  font-weight: normal;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

#nextlevel-button{height: 2rem; width: 9rem; border-radius: 0.2rem; top:22%; position: relative;
	background:#2C3E50; margin: 0 auto;  text-align: center; border: none;
	font-size: 0.9rem; color: #ffffff; cursor: pointer; display: none}
#nextlevel-button:hover{background-color: #34495E}

#summary-exit-button{height: 2rem; width: 9rem; border-radius: 0.2rem; top:25%; position: relative;
	background:#2C3E50; margin: 0 auto;  text-align: center; border: none;
	font-size: 0.9rem; color: #ffffff; cursor: pointer; display: block}
#summary-exit-button:hover{background-color: #34495E}


/*--------------------------------------------warning-box------------------------------------------*/

.ordermemo .main-box .content-box .warning-box{position: relative; left: 0%; top: 0%; width: 80%; height: 100%; background-color: #e6e6e6;
	margin: auto;display: none; text-align: center;}

#warning-text{top:35%; position: relative; line-height: 1.5rem;}

#redolevel-button{height: 1.86rem; width: 10rem; border-radius: 0.2rem; top:40%; position: relative;
	background:#2C3E50; margin: 0 auto;  text-align: center; border: none;
	font-size: 0.8rem; color: #ffffff; cursor: pointer; display: none}
#redolevel-button:hover{background-color: #34495E}

/*--------------------------------------------practice-box------------------------------------------*/

.ordermemo .main-box .content-box .practice-box{position: relative;  width: 100%; height: 100%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto;display: none; text-align: center;}

#practice-text{top:35%; position: relative; line-height: 1.5rem;}

#repractice-button{height: 2rem; width: 10rem; border-radius: 0.2rem; top:40%; position: relative;
	background:#2C3E50; margin: 0 auto; text-align: center; border: none;
	font-size: 0.9rem; color: #ffffff; cursor: pointer; display: none}
#repractice-button:hover{background-color: #34495E}

#goback-button{height: 1.86rem; width: 10rem; border-radius: 0.2rem; top:20%; position: relative;
	background:#f0f0f0; margin: 0 auto; text-align: center; 
	font-size: 0.8rem; color: #000000; cursor: pointer; display: none}
#goback-button:hover{background-color: #e6e6e6}

/*--------------------------------------------block-box------------------------------------------*/

.ordermemo .main-box .content-box .block-box{position: relative; left: 0%; top: 0%; width: 80%; height: 100%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto;display: none; text-align: center;}

.ordermemo .main-box .content-box .block-instructions{position: relative;top:40%; text-align: center; line-height: 1.5rem;}


/*-------------------------------------------loading-bar------------------------------------------*/

.ordermemo .main-box .content-box .loading{height: 1.86rem; top:35%; text-align: center; display: none; position: relative;
background:#f0f0f0; line-height: 1.86rem;font-family:"Arial";}

/*-------------------------------------------footer-box------------------------------------------*/

/* box for show copyright, end instruction and so on.*/
.ordermemo .main-box .footer-box{position: absolute; top:93%; left: 0%; width: 100%; height: 5%; background-color: #e6e6e6;
	margin-left: auto; margin-right: auto}
.ordermemo .main-box .footer-box .progress-bar{height: 1.5rem;width: 100%; display: none;}  
#rightNowLevel{position: relative;display: none;}
.ordermemo .main-box .footer-box .progress-bar .bar-label{line-height: 1.5rem; margin-left: 1rem; position: relative; }
.ordermemo .main-box .footer-box .progress-bar .bar{height: 1.0rem; width: 70%; top:0.25rem;left:20%;
	background-color: #e6e6e6; position: absolute; border: 0.01rem solid #999999;}
.ordermemo .main-box .footer-box .progress-bar .shader{height: 1.0rem; width:70%; top:0.25rem;left:20%;
	background-color: #666666; position: absolute; border: 0.01rem solid #999999;}


/**－－－－－－－－－－－－－ordermemo application page end－－－－－－－－－－－－**/

ul.lst-kix_yzdhopz7qrz0-2{list-style-type:none}ul.lst-kix_yzdhopz7qrz0-1{list-style-type:none}ul.lst-kix_yzdhopz7qrz0-0{list-style-type:none}ul.lst-kix_yzdhopz7qrz0-6{list-style-type:none}ul.lst-kix_yzdhopz7qrz0-5{list-style-type:none}ul.lst-kix_yzdhopz7qrz0-4{list-style-type:none}
ul.lst-kix_yzdhopz7qrz0-3{list-style-type:none}.lst-kix_yzdhopz7qrz0-5>li:before{content:"\0025a0  "}.lst-kix_yzdhopz7qrz0-4>
li:before{content:"\0025cb  "}.lst-kix_yzdhopz7qrz0-6>li:before{content:"\0025cf  "}ul.lst-kix_yzdhopz7qrz0-8{list-style-type:none}
ul.lst-kix_yzdhopz7qrz0-7{list-style-type:none}.lst-kix_yzdhopz7qrz0-3>li:before{content:"\0025cf  "}.lst-kix_yzdhopz7qrz0-7>
li:before{content:"\0025cb  "}.lst-kix_yzdhopz7qrz0-1>li:before{content:"\0025cb  "}.lst-kix_yzdhopz7qrz0-0>
li:before{content:"\0025cf  "}.lst-kix_yzdhopz7qrz0-2>li:before{content:"\0025a0  "}.lst-kix_yzdhopz7qrz0-8>
li:before{content:"\0025a0  "}ol{margin:0;padding:0}table td,table th{padding:0}
.c0{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Times New Roman";font-style:normal}
.c10{-webkit-text-decoration-skip:none;color:#000000;text-decoration:underline;vertical-align:baseline;text-decoration-skip-ink:none;font-size:11pt;font-style:normal}
.c3{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Times New Roman";font-style:italic}
.c2{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:center}
.c1{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}
.c6{text-decoration-skip-ink:none;font-family:"Times New Roman";-webkit-text-decoration-skip:none;font-weight:400;text-decoration:underline}
.c5{color:#000000;text-decoration:none;vertical-align:baseline;font-size:11pt;font-style:normal}
.c11{background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt}
.c9{font-weight:400;font-family:"Times New Roman"}
.c4{font-weight:700;font-family:"Times New Roman"}
.c8{padding:0;margin:0}.c7{margin-left:36pt;padding-left:0pt}
.c12{height:11pt}
.title{padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}
.subtitle{padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;font-family:"Arial"}
p{margin:0;color:#000000;font-size:1rem;font-family:"Arial"}h1{padding-top:20pt;color:#000000;font-size:20pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:18pt;color:#000000;font-size:16pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:16pt;color:#434343;font-size:14pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}
